.edit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.edit-button:disabled {
    cursor: not-allowed;
}

.edit-button:hover {
    transform: scale(1.1);
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal__button {
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal__button:hover {
    background-color: #31b0d5;
    transform: scale(1.05);
}

.modal__button.cancel {
    background-color: #d9534f;
    margin-left: 10px;
}

.modal__button.cancel:hover {
    background-color: #c9302c;
}

.error-message {
    color: #d9534f;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s ease-in-out;
}

.edit-icon {
    width: 50px;
    height: 50px;
}