.search-bar {
    display: flex;
    margin-bottom: 20px;
    width: 50%;
}

.search-bar__input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    box-sizing: border-box;
    height: 40px;
}

.search-bar__button {
    padding: 0 20px; 
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transform: translateX(-10px);
}

.search-bar__button-image {
    height: 20px;
}

.search-bar__button:hover {
    background-color: #0056b3;
}
